@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 15px 30px;
    border-radius: 48px;
    border: 0;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
}

.text-gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Nav style */

/* header {
    margin: 37px 240px;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.logo-img {
    width: 86px;
    height: 40px;
    padding-right: 20px;
}

.logo-text {
    font-size: 45px;
    font-weight: 700;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-item {
    padding-left: 32px;
}

.social-item {
    margin-left: 32px;
}

.social-item {
    display: flex;
    align-items: center;
    padding: 17px 24px;
    text-decoration: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.menu a,
.follow {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.fa-youtube {
    padding: 0px 24px;
    color: #F61C0D;
}

.fa-brands {
    font-size: 1.5rem;
}

/* Banner style */
.banner-section {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}


.play-tittle {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.tittle {
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-containt-list {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    padding: 7px 0;
}




.btn-liteblue {
    background: #4EC5F7;
}

.banner-main-img {
    width: 500px;
}

/* Gamer style */

.gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 200px;
}

.gamer-img {
    width: 600px;
}

.gamer-containt {
    text-align: right;
}

.containt-tittle {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 10px 0;

}

.gamer-description {
    font-size: 0.8rem;
    color: #534C64;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 0;
}

.purpose {
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 400;
}

.unleas {
    color: rgba(83, 76, 100, 1);
    font-size: 1.3rem;
    padding: 10px 0;
    line-height: 30px;
}

/* Online games section style  */
.online-games-section {
    margin: 120px 0px;
}

.online-games-section .containt-tittle {
    color: #0B0223;
    text-align: center;
    font-weight: 700;
}

.games-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin: 45px 200px;

}

.games-img {
    width: 100%;
}

.games-description {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 7px;
}

.games-box-description {
    color: #534C64;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 15px;
}

/* Features style  */
.features-section {
    margin: 45px 200px;
}

.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features-img {
    width: 330px;
}

.features-box-1 {
    position: relative;
    margin-left: 75px;
}

.features-sub-img {
    width: 150px;
    position: absolute;
    left: -75px;
    bottom: -30px;
}


/* Secund Features Section  */
.second-features-section {
    margin: 150px 200px 0;
}

.second-features-container {
    flex-direction: row-reverse;
}


.second-features-img {
    width: 330px;
}

.features-box-1 {
    position: relative;
    margin-right: 75px;
}

.second-features-sub-img {
    width: 150px;
    position: absolute;
    right: -75px;
    bottom: -30px;
}

/* Careen style */
.career-section {
    margin-top: 100px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 0 200px;
}

.career-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: url('../images/Vector\ 2.png');
    background-repeat: no-repeat;
    background-position: right;
    ba */
}

.career-tittle {
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
}

.career-description {
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 24px 0px;
    text-align: justify;
}

.career-list-box {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.career-list-box>ul {
    list-style: none;
}

.career-list-box>ul li {
    font-size: 0.9rem;
    color: #FFF;
    font-weight: 600;
    line-height: 30px;

}

.right-list {
    text-align: right;
}
.btn-white{
    background: #FFF;
    color: #FF42A5;
    margin-top: 30px;
}

.career-img {
    width: 500px;
    fill: rgba(255, 255, 255, 0.10);
}







@media screen and (max-width:576px) {

    nav,
    .menu {
        flex-direction: column;
    }

    nav {
        padding: 0px;
    }

    .menu-item {
        padding-top: 15px;
    }

    .social-item {
        margin: 15px 0px;
    }

    .banner-container {
        flex-direction: column-reverse;
        gap: 50px;

    }

    .banner-main-img {
        width: 400px;
    }
}